@use '../../css/theme.scss';
@use '../../css/global.scss';

.export-panel {
    background-color: theme.$base-color-tertiary;
    // interferes with splitter :(
    //overflow: auto;
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    position: relative;

    &.horizontal {
        max-width: 50%;
    }
}

.spacer {
    flex: 1 1 0;
}

.splitter {
    overflow: visible;
    position: absolute;
    box-sizing: border-box;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    touch-action: none;

    &:hover {
        border-color: theme.$interactive-muted;
    }
}

.vertical .splitter {
    left: 0;
    right: 0;
    height: var(--splitter-size);
    cursor: ns-resize;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.horizontal .splitter {
    top: 0;
    bottom: 0;
    width: var(--splitter-size);
    cursor: ew-resize;
    border-right: none;
    border-top: none;
    border-bottom: none;
}

:root {
    --splitter-size: 0.5rem;
}

@media (pointer: coarse) {
    :root {
        --splitter-size: 1rem;
    }
}

@media (hover: none) {
    .splitter {
        background-color: theme.$base-color-tertiary;
        border: none;

        &::after {
            content: '';
            background-color: theme.$divider;
            border-radius: var(--splitter-size);
            display: flex;
            align-self: center;
        }
    }

    .horizontal .splitter {
        transform: translateX(calc(var(--splitter-size) / -2));

        &::after {
            width: 2px;
            height: 50%;
        }
    }

    .vertical .splitter {
        transform: translateY(calc(var(--splitter-size) / -2));

        &::after {
            height: 2px;
            width: 50%;
        }
    }
}

.row {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.grow-button {
    flex-grow: 1;
}

.css-path-prefix-bar {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
}

.css-path-prefix-bar > label {
    @include global.label();
}

.css-path-prefix {
    flex: 1 1 0;
}

.css-preview {
    overflow: auto;
    margin: 0;
    padding: 0.5rem;
    border-radius: theme.$radius;
    background-color: theme.$base-color-secondary-dark;
}

.export-buttons {
    padding: theme.$pane-padding;

    flex: 0 0 auto;
    display: flex;
    flex-direction: column;

    gap: 1rem;
}

.loader-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 0;
    padding: 1rem;
}

.export-formats {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.button-row {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-wrap: wrap;
    flex: 0 0 auto;

    & > * {
        flex: 1 0 0;
        min-width: max-content;
    }
}

.export-results {
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
}

.exported-fonts, .exported-css {
    flex: 1 1 auto;
    overflow: auto;
}

.exported-fonts {
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 0 1rem;
    max-height: 50%;
    flex-shrink: 0;
}

.exported-font-files {
    display: flex;
    overflow: auto;
    flex: 1 1 auto;
    position: relative;
    align-items: flex-start;
}

.font-file-table-wrapper {
    width: 100%;
    overflow: auto;
    height: 200px;
    position: relative;
}

.font-file-table {
    width: 100%;
    overflow: auto;

    & td {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    & td.font-name {
        max-width: 0;
    }

    & td.font-file-size {
        width: 5.5em;
    }

    & th {
        position: sticky;
        top: 0;
        background-color: theme.$base-color-tertiary;
        z-index: 1;
    }
}

.font-file-size {
    @include global.tabular-nums();
    & > * {
        vertical-align: middle;
    }
}

.download-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.exported-css {
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.more-settings {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    background-color: theme.$base-color-secondary-dark;
    outline: none;
    border: 1px solid theme.$divider;
    border-radius: theme.$radius;
    padding: 1rem;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.setting {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    & > label {
        @include global.label();
    }
}

.spinbox-setting > :last-child {
    margin-left: auto;
}

.spacer {
    flex: 1 1 0;
}

.footer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    padding-top: 0;
}
