name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main
  workflow_call: # Allow other workflows to call this one

jobs:
  deploy:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'true'

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "22"

      - name: Persist npm cache
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package.json') }}

      - run: npm ci
      - run: npm run site:build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        if: github.ref == 'refs/heads/main'
        env:
          NODE_ENV: production
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./glypht-web/_site
          cname: glypht.valadaptive.dev
